<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Zêta</title>
   {% load static %} 
   
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static "images/logo.svg" %}" rel="icon">
  <link href="{% static "images/logo.svg" %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.google.com/share?selection.family=EB+Garamond:ital,wght@0,400..800;1,400..800|PT+Serif:ital,wght@0,400;0,700;1,400;1,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "css/vendor/bootstrap/css/bootstrap.min.css" %} " rel="stylesheet">
  <link href="{% static "css/vendor/bootstrap-icons/bootstrap-icons.css" %} " rel="stylesheet">
  <link href="{% static "css/vendor/boxicons/css/boxicons.min.css" %}"  rel="stylesheet">
  <link href="{% static "css/vendor/quill/quill.snow.css" %} " rel="stylesheet">
  <link href="{% static "css/vendor/quill/quill.bubble.css" %}"  rel="stylesheet">
  <link href="{% static "css/vendor/remixicon/remixicon.css" %}" rel="stylesheet">
  <link href="{% static "css/vendor/simple-datatables/style.css" %} " rel="stylesheet"> 
  <!-- Template Main CSS File -->
  <link href="{%  static 'css/style1.css' %}" rel="stylesheet">
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.10/codemirror.min.css">
 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/material-darker.min.css">
  <link href="{%  static 'css/com-style.css' %}" rel="stylesheet">
  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 09 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'index'%}" class="logo d-flex align-items-center">
        <img  src="{% static 'images/logo.svg' %}" alt="">
        <span class="d-none d-lg-block ">Zêta</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->
        <nav class="header-nav ms-auto">
          <ul class="d-flex align-items-center">
    
            <li class="nav-item d-block d-lg-none">
              <a class="nav-link nav-icon search-bar-toggle " href="#">
                <i class="bi bi-search"></i>
              </a>
            </li><!-- End Search Icon-->
    
            <li class="nav-item dropdown">
    
              <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                <i class="bi bi-bell"></i>
                <span class="badge bg-primary badge-number">4</span>
              </a><!-- End Notification Icon -->
    
           
            </li><!-- End Notification Nav -->
    
            <li class="nav-item dropdown">
    
              <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                <i class="bi bi-chat-left-text"></i>
                <span class="badge bg-success badge-number">3</span>
              </a><!-- End Messages Icon -->
    
             
    
            </li><!-- End Messages Nav -->
        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bel"></i>
            <span class="badge bg-primary badge-number"></span>
          </a><!-- End Notification Icon -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            {% if user.is_authenticated and user.photo.url != None %}
            <img style="height: 50px; width: 38px;" src="{{user.photo.url}}" alt="Profile" class="rounded-circle"> 
            {% else %}
            <img src="{% static "images/logo.svg" %}" alt="Profile" class="rounded-circle"> 
            {% endif %}
            {% if user.is_authenticated %} 
            <span class="d-none d-md-block dropdown-toggle ps-3">{{user.nom}}</span> 
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{user.nom}} {{user.prenom}}</h6>
              <span>{{user.description}}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-person"></i>
                <span>Mom Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'logout'%}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Déconnection</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->
         {% endif %}
      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{% url 'index' %}">
          <i class="bi bi-grid"></i>
          <span>Tableau de Bords</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Modèle</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'predictions' %}">
              <i class="bi bi-circle"></i><span>Classifications d'images </span>
            </a>
          </li>
          
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Formations</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'formation_index' %}">
              <i class="bi bi-circle"></i><span>Formations</span>
            </a>
          </li>
          <li>
            <a href="{% url 'index-exercice' %}">
              <i class="bi bi-circle"></i><span>Exercices</span>
            </a>
          </li>
          {% if user.is_authenticated and user.statut == 'Enseignant'%}
          <li>
            <a href="{% url 'gestion' %}">
              <i class="bi bi-circle"></i><span>Gérer mes formations</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </li><!-- End Charts Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-tools"></i></i><span>Boite à Outils</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{% url 'list-outils' %}">
              <i class="bi bi-circle"></i><span>Mes Outils</span>
            </a>
          </li>
          <li>
            <a href="{% url 'add-outils' %}">
              <i class="bi bi-circle"></i><span>Autre Outils</span>
            </a>
          </li>
        </ul>
      </li><!-- End Icons Nav -->

      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'profil'%}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'faq' %}">
          <i class="bi bi-info-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'disc-detail' 1%}">
          <i class="bi bi-people-fill"></i>
          <span>Communauté</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'inscription'%}">
          <i class="bi bi-card-list"></i>
          <span>Inscription</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'connexion' %}" >
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Connexion</span>
        </a>
      </li><!-- End Login Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->
  <!-- base.html -->
<div id="spinner" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1000;">
  Chargement...
</div>

    {% block content %}
    


    {% endblock %}
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Machine Intelligente</span></strong>. Tous droits reserver à l'auteur
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{%static "css/vendor/apexcharts/apexcharts.min.js" %} "></script>
  <script src="{%static "css/vendor/bootstrap/js/bootstrap.bundle.min.js " %}"></script>
  <script src="{%static "css/vendor/chart.js/chart.umd.js" %}"></script>
  <script src="{%static "css/vendor/echarts/echarts.min.js" %}"></script>
  <script src="{%static "css/vendor/quill/quill.min.js" %}"></script>
  <script src="{%static "css/vendor/simple-datatables/simple-datatables.js" %}"></script>
  <script src="{%static "css/vendor/tinymce/tinymce.min.js" %}"></script>
  <script src="{%static "css/vendor/php-email-form/validate.js" %}"></script>

  <!-- Template Main JS File -->
  <script src=" {%static 'js/main.js '%}"></script>
  <!-- Prism.js pour la coloration syntaxique -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-html.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/python/python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/edit/closebrackets.min.js"></script>
</body>

</html>